# Entorno virtual de Python
AviP/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# Node.js (basado en package.json)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporales
*.tmp
*.log
.DS_Store